# --- Web Server ---
fastapi
uvicorn
python-multipart
python-dotenv

# --- Computer Vision & AR ---
mediapipe
opencv-python
numpy
pillow
rembg
onnxruntime

# --- Database & Storage ---
pymongo
dnspython
chromadb

# --- Gen AI Stylist (Google Gemini + RAG) ---
langchain
langchain-google-genai
google-generativeai
pypdf
langchain-chroma
langchain-huggingface
sentence-transformers
